<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <h2>About HealthCal</h2></center>
                    <hr class="small">

                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <center>
                                <h3>Our Goal</h3></center>
                            <hr class="small">
                            <p class="paragraph"><strong>Notify users how much calories they have taken in and tell users the time they needed to burn calories.
</strong></p>
                            <p class="paragraph">Our target users are pepole who want to keep fit, lose weight or keep slim. The goal of our project is to provie users a mordern and useful tool to calculate the amount of calories they have taked in and indicate the time they need to burn the calories. </p>
                        </div>

                        <div class="col-md-5 ">
                            <center>
                                <h3>Our Skills</h3>
                                <hr class="small">
                            </center>
                            <p class="skills">Graphic Design </p>
                            <div class="progress progress-striped">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="70"></div>
                            </div>
                            <p class="skills">Front-End Development </p>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="80"></div>
                            </div>
                            <p class="skills">Back-End Development </p>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="80"></div>
                            </div>
                            <p class="skills">JavaScript </p>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="90"></div>
                            </div>

                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <center>
                        <h3>Our Team</h3></center>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="container-fluid description">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="row">
                                            <div class="col-md-4 "><img src="../images/about_ChunhuiZhou.jpeg" alt="Responsive image" class="img-thumbnail ">
                                                <hr class="small">

                                                <p class="name"><strong>Chunhui Zhou</strong></p>
                                                <p class="description"> Developer</p>

                                            </div>
                                            <div class="col-md-4 "><img src="../images/about_XinyanLv.jpeg" alt="Responsive image" class="img-thumbnail ">
                                                <hr class="small">

                                                <p class="name"><strong>Xinyan Lv</strong></p>
                                                <p class="description"> Project Manager
                                                    <br>&amp;
                                                    <br> Developer</p>

                                            </div>
                                            <div class="col-md-4"><img src="../images/about_ChenguangSitu.jpeg" alt="Responsive image" class="img-thumbnail ">
                                                <hr class="small">

                                                <p class="name"><strong>Chenguang Situ</strong></p>
                                                <p class="description"> Tester</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-md-offset-2">
                                        <div class="row">
                                            <div class="col-md-4"><img src="../images/about_ShanchuanWu.jpeg" alt="Responsive image" class="img-thumbnail img-fluid">
                                                <hr class="small">

                                                <p class="name"><strong>Shanchuan Wu</strong></p>
                                                <p class="description">UI Designer
                                                    <br>&amp;
                                                    <br>Developer</p>
                                            </div>
                                            <div class="col-md-4 col-md-offset-1"><img src="../images/about_NanZhou.jpeg" alt="Responsive image" class="img-thumbnail img-fluid">
                                                <hr class="small">
                                                <p class="name"><strong>Nan Zhou</strong></p>
                                                <p class="description">
                                                    Developer
                                                    <br>&amp;
                                                    <br>Mascot
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<script src="bower_components/bootstrap-progressbar/bootstrap-progressbar.js"></script>
<!-- Progress Bar -->
<script>
    $('.progress .progress-bar').progressbar();
</script>