<div ng-controller='PersonalCtrl'>
    <div>
        <div>
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div>
                        <h3>this is goal setting page.</h3>
                    </div>
                    <div class="calender" id="calendar"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <h3>FoodRecord</h3>
                        <div ng-repeat="fr in foodRecords">
                            {{fr}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <h3>ExerciseRecord</h3>
                        <div ng-repeat="er in exerciseRecords">
                            {{er}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>