<body>
<p>Search and select the sport you want to do.</p>
<label for="title" class="control-label">Sport Title</label>
<input type="text" class="form-control" ng-model="searchSportContent" id="sport title" placeholder="Sports title"></input>
<!-- <button type="submit" class="btn btn-primary" ng-click="searchSport(searchSportContent)" value="search">Search</button> -->

<input type="Number" class="form-control" ng-model="setForWeight" id="user weight" placeholder="Weight"></input>
<!-- <button type="submit" class="btn btn-primary" ng-click="setWeight(setForWeight)" value="submit">Calculate</button> -->


<p><strong>Page:</strong> {{tableParams.page()}}
<p><strong>Count per page:</strong> {{tableParams.count()}}
<table ng-table="tableParams" class="table table-striped" show-filter="true">
<tr ng-repeat="sport in $data | filter:searchSportContent">
    <td title="'130 lb'">{{ sport["155 lb"] }}</td>
</tr>
<!--
  <thead>
    <th>Activity(1 hour)</th>
    <th>130 lb</th>
    <th>155 lb</th>
    <th>180 lb</th>
    <th>205 lb</th>
    <th>1 lb</th>
    <th>Time to Exercise (Hours)</th>
  </thead>
  <tbody>
    <tr ng-repeat="sports in sport | filter:searchSportContent">
      <td><a ng-href="/#/sport/{{ sports._id }}">{{ sports["Activity(1 hour)"] }}</a></td>
      <td sortable="'130 lb'">{{ sports["130 lb"] }}</td>
      <td>{{ sports["155 lb"] }}</td>
      <td>{{ sports["180 lb"] }}</td>
      <td>{{ sports["205 lb"] }}</td>
      <td>{{ sports["1 lb"] }}</td>
      <td>{{ 2000/(sports["1 lb"]*setForWeight) }}</td>
    </tr>
  </tbody>
-->
</table>
  <script src="bower_components/ng-table/dist/ng-table.js"></script>
</body>
